<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand"><img src="https://lendastack.io/home/assets/img/lendastack-logo.svg" alt="Lendastack" srcset=""><i>Colour Generator</i></a>
    <div class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
    </div>
  </div>
</nav>
<br>


<div class="container">
  <br>
  <h2 class="text-center">Enter any word in the text box,<br> and we'll generate its corresponding hexadecimal colour code for you!</h2>
  <br><br>
  <div class="row justify-content-center gy-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Input any word here !" aria-label="First name"  #task>
    </div>
    <div class="col-md-4">
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="addTask(task.value)">Generate Colour</button>
      </div>
    </div>
  </div>
  <br><br>

  <div class="row gy-3">
    <ng-container *ngFor="let item of list">
    <div class="col-md-4" *ngIf="search === '' || item.name.toLowerCase().includes(search)">
      <div class="card" >
        <div class="color" [style.backgroundColor]="item.colorCode"></div>
        <div class="card-body">
          <div class="detail">
            <div class="label">
              <h6>Name</h6>
              <p>{{item.name}}</p>
            </div>
            <div class="label">
              <h6>Colour Code</h6>
              <p>{{item.colorCode}}</p>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="getId(item.id)">Delete</button>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header py-2">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this item ?
        </div>
        <div class="modal-footer py-2">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeTask()">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>

